/* global reset and styles */

:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}
html {
  font-size: 62.5%;
}
* {
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
h1 {
  font-size: 5.8rem;
  font-family: serif;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1.4rem;
  color: var(--Very-Light-Gray);
}
h2 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--Very-Light-Gray);
  line-height: 1.5;
  margin-bottom: 1.4rem;
}
a {
  color: var(--dark-grayish-violet);
  display: inline-block;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
.btn {
  border: 3px solid var(--very-dark-violet);
  padding: 10px 30px;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  width: fit-content;
  color: var(--very-dark-violet);
}

/* header styles */
.header {
  background-color: var(--Very-Light-Gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.navbar {
  color: var(--dark-grayish-violet);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.menu,
.hamburger,
.close {
  display: none;
}
section {
  padding: 80px 10%;
}

/* hero styles */
.hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
.hero::before {
  position: absolute;
  content: "";
  height: 75%;
  width: 100%;
  z-index: -5;
  background-color: var(--Dark-Violet);
}
.textSec {
  position: relative;
  padding-top: 7rem;
}
.textSec::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.4rem;
  border-radius: 2px;
  width: 25%;
  background-color: var(--dark-grayish-violet);
}
.hero-img {
  justify-self: center;
}
.hero-img img {
  width: 80%;
  margin-left: auto;
}
.hero .btn,
.cta .btn {
  color: var(--Very-Light-Gray);
  border-color: var(--Very-Light-Gray);
}
.hero-bg {
  position: absolute;
  height: 65%;
}
.hero-bg.one {
  top: 0;
  right: 0;
}
.hero-bg.two {
  left: 0;
  bottom: -15%;
}

/* words section */
.words .textSec::after {
  width: 15%;
}
.words .textSec h1 {
  color: var(--Dark-violet);
  margin-bottom: 5rem;
}

/* services style */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 2rem;
}
.box h2 {
  margin-block: 2rem 1.5rem;
}
.box p {
  font-size: 16px;
  color: var(--dark-grayish-violet);
}

/* cta styles */
.cta {
  position: relative;
  background-color: var(--Dark-Violet);
  padding: 60px 100px;
  display: grid;
  align-items: center;
  grid-template-columns: 1.5fr 1fr;
}
.cta .cta-bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.cta .btn {
  justify-self: right;
}

/* footer styles */
footer {
  position: relative;
  padding: 50px 10%;
  background-color: var(--Very-Light-Gray);
}
.footer-img {
  position: absolute;
  top: 0;
  left: 0;
}
.topFooter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--dark-grayish-violet);
}
.socials {
  display: flex;
  gap: 1.5rem;
}
.links {
  font-size: 1.6rem;
  font-weight: 700;
}
.links .head {
  color: var(--dark-grayish-violet);
}
