/* global reset and styles */

:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}
html {
  font-size: 62.5%;
}
* {
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
h1 {
  font-size: 5.8rem;
  font-family: serif;
  font-weight: 600;
  line-height: 0.85;
  margin-bottom: 1.4rem;
  color: var(--Very-Light-Gray);
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--dark-grayish-violet);
  color: var(--Very-Light-Gray);
  line-height: 1.5;
  margin-bottom: 1.4rem;
}
a {
  display: inline-block;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
.btn {
  border: 3px solid var(--very-dark-violet);
  padding: 10px 20px;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  color: var(--very-dark-violet);
}

/* header styles */
.header {
  background-color: var(--Very-Light-Gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.navbar {
  color: var(--dark-grayish-violet);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.menu,
.hamburger,
.close {
  display: none;
}

/* hero styles */
.hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: 50px 10%;
}
.hero::before {
  position: absolute;
  content: "";
  height: 75%;
  width: 100%;
  z-index: -5;
  background-color: var(--Dark-Violet);
}
.textSec {
  position: relative;
  margin-top: 10rem;
}
.hero-img {
  justify-self: center;
}
.hero-img img {
  width: 80%;
  margin-left: auto;
}
.hero .btn {
  color: var(--Very-Light-Gray);
  border-color: var(--Very-Light-Gray);
}
