:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}
* {
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
p {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-grayish-violet);
}
.header {
  background-color: var(--Very-Light-Gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.navbar {
  color: var(--dark-grayish-violet);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu,
.hamburger,
.close {
  display: none;
}
.btn {
  border: 3px solid var(--very-dark-violet);
  padding: 10px 20px;
  font-weight: 500;
  color: var(--very-dark-violet);
}
